<!DOCTYPE html>
<html>
<head>
	<title> Custom Components 3 </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<style type="text/css">
		.user-listrow {
		    background: #535353;
		    color: #EEE;
		    padding: 10px 5px;
		    text-align: center;
		}
		.user-listrow-details {
		    background: #cfcfcf;
		    color: #6B6161;
		    padding: 10px 30px;
		}
	</style>
</head>
<body>
	<div class="container" id="custom-components3-app">
		<div class="alert alert-warning">
			This example demonstrates the use of custom component by specifing their property types. This way the compiler 
			can know what type of data to expect and the programmer can be notified if a wrong type is passed.
		</div>

		<userlist-details
			v-for="user in users"
			v-bind:id="user.userid"
			v-bind:name="user.fname + ' ' + user.lname"
			v-bind:email="user.email"
			v-bind:country="user.country"
			v-bind:balance="user.balance"
			v-bind:details="user.info">
		</userlist-details>

	</div>

	<script type="text/javascript" src="../DBs/users_list.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		Vue.component("userlist-details", {
			props: {
				id: Number,
				name: String,
				email: String,
				country: String,
				balance: String,
				details: String
			},
			template: 
				"<div>" +
					"<div class='row user-listrow'>" +
						"<div class='col-lg-1 col-md-1 col-sm-12 col-xs-12'> {{id}} </div>" +
						"<div class='col-lg-2 col-md-2 col-sm-12 col-xs-12'> {{name}} </div>" +
						"<div class='col-lg-2 col-md-2 col-sm-12 col-xs-12'> {{country}} </div>" +
						"<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'> {{email}} </div>" +
						"<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'> {{balance}} </div>" +
						"<div class='col-lg-1 col-md-1 col-sm-12 col-xs-12'" + 
							"v-bind:userid='id'" + 
							"v-on:click='OpenUserDetails'> > </div>" +
					"</div>" +
					"<div class='row user-listrow-details' v-bind:userid='id' v-if='false'> {{details}} </div>" +
				"</div>"
			
		});

		var csc3App = new Vue({
			el: "#custom-components3-app",
			data: {
				users: userList
			},
			methods: {
				OpenUserDetails(event) {
					console.log(event);
				}
			}	
		});


	</script>
</body>
</html>