#wrapper{
	height: 700px;
	width: 700px;
	margin-left: 32%;
}
#upperPart{
	border: 2px;
	border-radius: 6px;
	height: 150px;
	width: 700px;
}
#mainPart{
	border: 2px;
	border-radius: 6px;
	height: 500px;
	width: 700px;
	background: url('mainbg.jpg');
}

#lowerPart{
	height: 46px;
	width: 700px;
	border-radius: 6px;
	background-color: #464649;
	color: lightgrey;
	font-family: verdana;
	margin-top: 10px;
}

#banner{
	border: 1px;
	border-style: solid;
	width: 700px;
	height: 105px;
}
#menu{
	width: 700px;
	height: 44px;
}
#form{
	border: 1px;
	width: 700px;
	height: 430px;
}
#answer{
	border: 1px;
	width: 700px;
	height: 69px;
}

#answerPart{
	width: 600px;
	height: 60px;
	border: 1px;
	border-radius: 10px;
	border-style: solid;
	background-color: #333333;
	margin-left: 48px;
	font-size: 23px;
	
}


/*--------------------------------------------------------*/

#tableData{
	border-spacing: 18px;
	
	font-family: arial;
	color: lightgrey;
	padding-top: 40px;
	padding-left: 30px;
}

#banner{
	background: url('banner.jpg');
	border-radius: 6px;
}

#bannerName{
	font-family: arial;
	color: lightgrey;
	font-size: 36px;
	text-shadow: 3px 1px 16px black;
	text-decoration: underline;
}

#sbtBtn{
	font-size: 17px;
}

#menuTable{
	
}

#menuTable td{
	padding-left: 58px;
	padding-top: 6px;
}

a {
	text-decoration: none;
	font-size: 24px;
}

a:hover{
	color: orange;
}

input, select{
	border-radius: 6px;
}

#lowerMsg{
	padding: 35px;
}

#result{
	padding-left: 30px;
}

