<!DOCTYPE html>
<html>
	<head>
		<title> On Directive </title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<style type="text/css">
			body {
			    background: #ececec;
			}
			div#right-panel {
			    height: 700px;
			    overflow: auto;
			}
			table {
				background: #2e4558;
			    width: 100%;
			    color: #EEE;
			    text-align: center;
			}
			thead {
			    background: #1f3242;
			    font-weight: bold;
			    border-bottom: 2px solid #bd2c2c;
			}
			tr {
			    border-bottom: 1px solid #771c1c;
			}
			form {
				background: #2e4558;
			    padding: 13px;
			    color: #EEE;
			}
			label {
			    border-bottom: 1px solid #bd2c2c;
			    padding: 0px 30px 0px 0px;
			}
		</style>
	</head>
	<body>
		<div id="application" class="container-fluid">
			<div class="row">
				<div id="left-panel" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<form>
						<div class="form-group">
						  	<label for="firstNameInput">First Name:</label>
						  	<input type="text" class="form-control" id="firstNameInput" v-model="newUsrfname" placeholder="Enter the desired firstname here...">
						</div>
						<div class="form-group">
						  	<label for="lastNameInput">Last Name:</label>
						  	<input type="text" class="form-control" id="lastNameInput" v-model="newUsrlname" placeholder="Enter the desired lastname here...">
						</div>
						<div class="form-group">
						  	<label for="balanceInput">Balance:</label>
						  	<input type="number" class="form-control" id="balanceInput" v-model="newUsrBal" placeholder="Enter the balance here...">
						</div>
						<button type="button" class="btn btn-primary" v-on:click="addNewUser" style="width: 100%;"> Add New User </button>
						<div class="alert alert-success" v-if="sucMsgAlert"> Successfull user registy </div>
						<div class="alert alert-danger" v-if="errorMsgAlert"> {{errorMsg}} </div>
					</form>
				</div>
				<div id="right-panel" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<table>
						<thead>
							<td> ID </td>
							<td> First Name </td>
							<td> Last Name </td>
							<td> Balance </td>
						</thead>
						<tr v-for="user in users">
							<td>{{user.userid}}</td>
							<td>{{user.fname}}</td>
							<td>{{user.lname}}</td>
							<td>{{user.balance}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../DBs/users_list.js"></script>
		<script type="text/javascript">	
			var app = new Vue({
				el: "#application",
				data: {
					'users': userList,
					'newUsrlname': '',
					'newUsrfname': '',
					'newUsrBal': '',
					'sucMsgAlert': false,
					'errorMsgAlert': false,
					'errorMsg': ''
				},
				methods: {
					addNewUser: function(){
						this.errorMsgAlert = false;
						this.sucMsgAlert = false;

						if( this.newUsrlname == "" ) {
							this.errorMsg = "User last name is empty, please fill this field...";
							this.errorMsgAlert = true;
						}

						if( this.newUsrfname == "" ) {
							this.errorMsg = "User first name is empty, please fill this field...";
							this.errorMsgAlert = true;
						}

						if( this.newUsrBal == "" ) {
							this.errorMsg = "User balance is empty, please fill this field...";
							this.errorMsgAlert = true;
						}

						var tmpLastRegistry = this.users[ this.users.length - 1 ];
						console.log( tmpLastRegistry );

						this.users.push({
							"userid": parseInt(tmpLastRegistry.userid) + 10,
							"lname": this.newUsrlname,
							"fname": this.newUsrfname,
							"balance": this.newUsrBal+"$"
						});


					}
				}
			});
		</script>
	</body>
</html>