body{
	background: url('background.jpg');
}
#wrapper{
	margin: 0 auto;
	border-radius: 10px;
	width: 700px;
}
#upperPart{
	border-radius: 6px;
	
	width: 700px;
	height: 220px;
}
#mainPart{
	background: #E5E5E5;
	border-radius: 6px;
	box-shadow: 0px 1px 8px 5px #888888;
	width: 700px;
}
#lowerPart{
	background: lightgrey;
	border-radius: 6px;
	box-shadow: 0px 1px 8px 5px #888888;
	width: 700px;
	height: 50px;
	margin-top: 18px;
}
#banner{
	height: 160px;
	width: 700px;
	
	background: url('banner.jpg');
	border-radius: 6px;
	box-shadow: 0px 2px 8px 5px #888888;
}
#menu{
	height: 60px;
	width: 700px;
	border-radius: 6px;
}
#menuTable a{
	text-decoration: none;
	font-size: 25px;
	color: lightgrey;
}
#menuTable {
	border-spacing: 13px;
}
#menuTable td{
	padding-left: 40px;
}
#menuTable a:hover{
	color: orange;
}
#lowerPart span{
	font-size: 18px;
	padding: 20px;
}
#contentTable{
	border-spacing: 12px;
}
.textTitle{
	font-size: 19px;
	font-style: italic;
	font-weight: bold;
}