body {
    font-family: Arial, Verdana;
    background: #4c4c4c;
    color: #565656;
}
#loginPanel {
    margin: 10% auto;
    background: linear-gradient(120deg, #e8e8e8, #bfbfbf);
    box-shadow: 0px 0px 10px #636363;
    max-width: 400px;
}
#loginForm {
    padding: 20px;
}
#loginForm > .row, #newAccountForm > .row {
    margin-top: 10px;
}
.formHeader {
    line-height: 200%;
}
.formTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#newAccPanel {
    background: linear-gradient(120deg, #e8e8e8, #bfbfbf);
    padding: 20px;
    box-shadow: 0px 0px 10px #636363;
    margin: 0 auto;
}
button[disabled=disabled], button[disabled=disabled]:hover {
    cursor: no-drop;
    color: #BBB !important;
    background: linear-gradient(150deg, #737373, #171717);
    opacity: 0.7 !important;
    border-color: #50555a !important;
}
.emptyErrorText {
    background: #d22727;
    color: #EEE;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    float: left;
}
.pointArrow {
    width: 20px;
    height: 12px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d22727;
    float: right;
    margin-right: 20px;
}



/*---------- Override Bootstrap ---------*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.btn:focus, .form-control:focus { box-shadow: 0 0 0 0 rgba(0,123,255,.5); }
input.form-control { border-radius: 0px; }
.btn-primary {
    color: #fff;
    background: linear-gradient(150deg, #1577e0, #14467b);
    border-color: #007bff00;
    border-radius: 0px;
}
.btn-primary:hover {
    color: #fff;
    background: linear-gradient(150deg, #1260b5, #0f3154);
    border-color: #0062cc00;
}
.btn-success {
    color: #fff;
    background-color: #10b97f;
    border-color: #28a74500;
    background: linear-gradient(150deg, #10b97f, #10865d);
    border-radius: 0px;
}
.btn-success:hover {
    color: #fff;
    background-color: #0b9868;
    border-color: #1e7e3400;
    background: linear-gradient(150deg, #0b9868, #044c33);
}
/*---------- /Override Bootstrap ---------*/
