.content-title {
    color: #0382c0;
    border-bottom: 3px solid #0382c0;
    padding: 0px 70px 0px 0px;
}
.content-section {
    background: #039be5;
    font-size: 18px;
    color: #EEE;
    padding: 15px;
    border-radius: 3px;
    margin: 5px 0px;
}
.sidemenu-page-selection {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}
.flex.column {
    padding: 0px 3px;
}
.content-description {
    color: #989898;
    font-size: 15px;
    font-style: italic;
}